// Base
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: $font-topic;
    line-height: 1;
    color: #383838;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 0.75rem;
    font-family: $font-topic;
    line-height: 1.5;
}
h1 {
    font-size: $font-size-h1;
    font-weight: bold;
}
h2 {
    font-size: $font-size-h2;
    font-weight: bold;
}
h3 {
    font-size: $font-size-h3-m;
    font-weight: bold;
}
h4 {
    font-size: $font-size-h4;
    font-weight: bold;
}
h5 {
    font-size: $font-size-h5;
    font-weight: bold;
}
h6 {
    font-size: $font-size-h6;
}
p { 
    font-family: $font-read;
    font-size: $font-size-p;
}

a{ 
    transition: $transition;
    color: inherit;
    &:hover { 
        color: inherit;
        text-decoration: none;
    }
    line-height: 25px;
    &.btn { 
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
span{ 
    font-size: 15px;
}
.text-primary-1 {  color: $primary-1 }
.text-primary-2 {  color: $primary-2 }
.text-primary-3 {  color: $primary-3 }
.text-secondary-1 {  color: $secondary-1 }
.text-secondary-4 {  color: $secondary-4 }
.text-secondary-5 {  color: $secondary-5 }
.text-danger { color : $danger !important }
.text-info { color : $info !important }
.text-black { color: $black }
.text-grey { color: $grey }
.bg-primary-0 {background-color: $primary-0; transition: $transition;}
.bg-primary-1 {background-color: $primary-1; transition: $transition;}
.bg-primary-2 {background-color: $primary-2; transition: $transition;}
.bg-primary-3 {background-color: $primary-3; transition: $transition;}
.bg-primary-2-hover:hover { background-color: $primary-2-hover; }
.bg-grey { background-color: #F6F6F6 !important;}
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-family-topic { font-family: $font-topic; }
.font-family-read { font-family: $font-read; }

.bi.bi-bold::before { font-weight: 900 !important; }
.max-line-1 { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.max-line-2 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.max-line-3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.max-line-4 { display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
@media (min-width: $size-lg) {
    .max-line-lg-1 { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
    .max-line-lg-2 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
    .max-line-lg-3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
    .max-line-lg-4 { display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
}
.line-height-40 {
    line-height: 40px;
}
.line-height-30 { 
    line-height: 30px;
}
.line-height-25 { 
    line-height: 25px;
}
.line-height-1 { 
    line-height: 1;
}
/* ----- Border ----- */
.border-rounded { 
    border-radius: 20px;
}
@media (min-width: $size-lg) {
    .px-lg-30 { 
        padding: 0 $space-m !important;
    }
}
@media (min-width: $size-lg) {
    .rounded-lg-top { 
        border-top-left-radius: 20px !important; 
        border-top-right-radius: 20px !important; 
    }
    .rounded-lg-bottom { 
        border-bottom-left-radius: 20px !important; 
        border-bottom-right-radius: 20px !important; 
    }
}

/* ----- Container ----- */

@media (max-width: 992px) {
    ._desktop {
        display: none !important;
    }
}
@media (min-width: 993px) {
    ._mobile {
        display: none !important;
    }
}
.container{
    max-width: 100%;
    padding: 0 $space-m;
}
.max-1000 { 
    max-width: 1000px !important;
}
.container-fluid { 
    &.px-30 { 
        padding: 0 $space-m;
    }
    &.max-1400 { 
        max-width: 1400px !important;
    }
}
.container-lg { 
    max-width: $size-lg;
}
.navbar-expand-lg > .container {
    padding: 0 $space-m;
}
@media (min-width: 576px){
    .container{
        max-width: 100%;
        padding: 0 $space-m;
    }
    .navbar-expand-lg > .container {
        padding: 0 $space-m;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 100%;
        padding: 0 $space-m;
    }
    .navbar-expand-lg > .container {
        padding: 0 $space-m;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 100%;
        padding: 0 $space-m;
        
    }
    .navbar-expand-lg > .container {
        padding: 0 $space-m;
    }
}
@media (min-width: 1200px) { 
    .container {
        max-width: 1200px;
        padding: 0;
    }
    .container-lg { 
        max-width: $size-lg;
    }
    .navbar-expand-lg > .container {
        padding: 0;
    }
}

/* ----- Display ----- */
@media (min-width: $size-lg) { 
    .lg-invisible { 
        visibility: hidden;
    }
}

/* ----- Grid ----- */
.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: $space;
    &.-m1 { 
        grid-gap: calc(#{$space-m} - 5px);
    }
    &.-m2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: $space;
    }
    &.-m3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: $space;
    }
    
    &::before,
    &::after {
      display: none;
    }
    .s-grid {
      margin-bottom: 0;
    }
    @media (min-width: 992px) {
        &.-d2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: $space;
        }
        &.-d3 {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-gap: $space;
        }
        &.-d4 {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-gap: $space;
        }
        &.-d5 {
            grid-template-columns: repeat(5, minmax(0, 1fr));
            grid-gap: $space;
        }
        &.-d6 {
            grid-template-columns: repeat(6, minmax(0, 1fr));
            grid-gap: $space;
        }
    }
}

/* ----- Modal ----- */
.modal { 
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-reader {
    .modal-dialog { 
        max-width: 1200px;
    }
    .modal-content { 
        background-color: transparent;
        border: none;
    }
    .modal-header { 
        border-bottom: none;
        padding: 0;
        .close { 
            color: $white;
            font-size: 30px;
            text-shadow: none;
            opacity: 1;
        }
    }
    .modal-body { 
        height: 100vh;
        padding: 0;
    }
}
.modal-video { 
    background-color: rgba(0, 0, 0, 0.15);
    .modal-content { 
        background-color: transparent;
        border: none;
    }
    .modal-header { 
        border-bottom: none;
        padding: 0;
        .close { 
            color: $white;
            font-size: 30px;
            text-shadow: none;
            opacity: 1;
        }
    }
    .modal-body { 
        padding: 0;
    }
    @media (min-width: 992px) { 
        .modal-dialog { 
            max-width: 1000px;
            margin: 1.75rem auto;
        }
    }

}

/* ----- Input ----- */
input[type=text],
input[type=email],
input[type=password],
input[type=search],
.input, textarea { 
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #B9B9B9;
    padding: 0;
    padding-right: calc(#{$space} * 1.5);
    height: 45px;
    width: 100%;
    font-size: 25px;
    &:focus {
        outline: none;
    }
    &::placeholder { 
        color: $secondary-5;
    }
}

[type=radio]:checked,
[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type=radio]:checked + label,
[type=radio]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $secondary-2;
}
[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: $primary-1;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type=radio]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type=radio]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

textarea { 
    height: auto;
    padding-top: $space;
    padding-bottom: $space;
    line-height: 1.5;
}
.input-group-custom { 
    .input-group-append, .input-group-prepend { 
        .input-group-text { 
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #B9B9B9;
            padding: 0;
            height: 45px;
            font-size: 20px;
            background-color: transparent;
            padding-top: 10px;
            color: $primary-2;
        }
    }
}

select { 
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23FF8F1C" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>') no-repeat right;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #B9B9B9;
    padding: 0;
    padding-right: calc(#{$space} * 1.5);
    height: 45px;
    width: 100%;
    font-size: 25px;
    &:focus {
        outline: none;
    }
    &::placeholder { 
        color: $secondary-5;
    }
}
 
/* ----- BreadCrumb ----- */
.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-top: $space;
    .breadcrumb-item { 
        a { 
            color: $primary-1;
        }
        &.active { 
            color: $black;
            font-weight: 600;
            a { color: $black }
        }
        &:first-child::before { content : ""}
        &::before { 
            font-family: "bootstrap-icons";
            font-weight: 900;
            content: "\f285";
            font-size: 14px;
            margin-top: 3px;
            color: $black;
        }
    }
}
/* ----- Pagination ----- */
.pagination { 
    padding: calc(#{$space}  * 2) 0;
    justify-content: center;
    .prev, .next { 
        .page-link { 
            width: 40px;
            height: 40px;
            border-radius: 0%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: white;
            border: 0;
            background-color: $primary-2;
            margin: 0px;
            transition: $transition;
            &:hover { 
                background-color: $primary-2-hover;
               
            }
        }
        &.-disabled  { 
            cursor: not-allowed;
            pointer-events: none;
            .page-link { 
                background-color: #E4E4E4;
                color: $primary-2;
            }
        }
    }
    .prev { 
        margin-right: calc(#{$space} / 2);
    }
    .next { 
        margin-left: calc(#{$space} / 2);
    }
    .page-item { 
        margin: 0;
        .page-link { 
            width: 38px;
            height: 38px;
            border-radius: 0%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: $text-color;
            border: 0;
            border-bottom: 4.5px solid #E4E4E4;
            background-color: transparent;
            margin: 0;
        }
        a.page-link:hover { 
            color: $primary-2;
        }
        &.dots {
            .page-link { 
                background-color: transparent;
                align-items: flex-end;
            }
        }
        &.active  { 
            .page-link { 
                color: $primary-2;
                border-bottom: 4.5px solid $primary-2;
            }
        }
    }
}
@media (max-width: $size-iphone5) { 
    .pagination {
        .prev, .next { 
            .page-link { 
                width: 35px;
                height: 35px;
                font-size: 18px;
            }
        } 
        .prev { 
            margin-right: calc(#{$space} / 2);
        }
        .next { 
            margin-left: calc(#{$space} / 2);
        }
        .page-item { 
            .page-link { 
                width: 30px;
                height: 30px;
                font-size: 20px;
            }
        }
    }
}
@media (min-width: $size-lg) { 
    .pagination {
        .prev, .next { 
            .page-link { 
                width: 60px;
                height: 60px;
                font-size: 20px;
            }
        } 
        .prev { 
            margin-right: $space;
        }
        .next { 
            margin-left: $space;         
        }
        .page-item { 
            .page-link { 
                width: 45px;
                height: 45px;
                margin: 10px 0;
                font-size: 30px;
            }
        }
    }
}
/* ----- Button ----- */
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 143, 28, 0.25);
}
.btn-primary  {
    background-color: $primary-2;
    border: none;
    border-radius: 0px;
    font-size: 25px;
    font-weight: bold;
    height: 53px;
    text-align: center;
    width: 100%;
    transition: $transition;
    &:hover { 
        background-color:  $primary-2-hover;
    }
}
.btn-primary:hover:active:focus,.btn-outline-primary:hover:active:focus { 
    background-color: $primary-2-hover; 
    box-shadow: 0 0 0 0.2rem rgba(255, 143, 28, 0.25);
}
.btn-primary:focus, .btn-primary.focus,.btn-outline-primary:focus, .btn-outline-primary.focus {
    color: #fff;
    background-color:  $primary-2-hover;
    border-color:   $primary-2-hover;
    box-shadow: 0 0 0 0.2rem rgba(255, 143, 28, 0.25);
}
.btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #fff;
    background-color:  $primary-2-hover;
    border-color:  $primary-2-hover;
}
  
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active{
    color: #fff;
    background-color: $primary-2-hover;
    border-color: $primary-2-hover;
}
  
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 143, 28, 0.25);
    
}


.btn-outline-primary { 
    background-color: transparent;
    border: 1px solid $primary-2;
    border-radius: 0px;
    color: $primary-2;
    font-size: 25px;
    font-weight: bold;
    height: 53px;
    text-align: center;
    width: 100%;
    transition: $transition;
    .bi { 
        font-size: 16px;
    }
    &:hover { 
        background-color: $primary-2;
        border: 1px solid $primary-2;
        color: white; 
    }
}

.btn-outline-light { 
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    height: 53px;
    text-align: center;
    width: 100%;
    transition: $transition;
    padding-left: calc(#{$space} * 2);
    padding-right: calc(#{$space} * 2);
    .bi { 
        font-size: 16px;
    }
    &:hover { 
        background-color: $primary-2;
        border: 1px solid $primary-2;
        color: white; 
    }
}

.btn-light { 
    background-color: #fff;
    border: transparent;
    color: $black;
    &:hover { 
        background-color: #e2e6ea;
        border: transparent;
        color: $black;
    }
}

@media (min-width: $size-lg) { 
    .btn-primary, .btn-outline-primary, .btn-outline-light  {
        width: 180px;
        min-width: 180px;
    }
}

/* ----- Card ----- */
.card { 
    &.-hero {
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;
        border-radius: $card-border-radius;
        transition: $transition;
        background-color: transparent;
        .pic { 
            margin: 0;
            border-radius: $card-border-radius $card-border-radius 0 0;
            overflow: hidden;
            height: 185px;
            min-height: 185px;
            position: relative;
            img { 
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
                max-width: 100%;
                border-radius: $card-border-radius $card-border-radius 0 0;
                transition: $transition;
            }
        }
        .blog-content {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            background-color: white;
            z-index: 1;
            border-top: 5px solid $primary-1;
            padding: calc(#{$space} * 1.5) $space;
            box-shadow: $box-shadow-large;
            .topic { 
                font-size: 30px;
                font-weight: bold;
                line-height: 30px;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $text-color;
                text-align: center;
            }
            .sub-topic { 
                font-size: 25px;
                font-family: $font-topic;
                font-weight: 300;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }
        }
        .blog-meta { 
            display: flex;
            justify-content: center;
            .time { 
                font-size: 25px;
                color: #838383;
                margin-right: $space;
            }
            .category { 
                .category-item { 
                    color: #838383;
                }
            }
        }
        &:hover { 
            .pic { 
                img { 
                    transform: scale(1.12);
                }
            }
        }
    }
    &.-lg {
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;
        border-radius: $card-border-radius;
        transition: $transition;
        background-color: transparent;
        
        .pic { 
            padding-bottom: 100%;
            img, object, picture { 
                position: absolute;
                height: auto;
                width: 100%;
                top:      10px;
                left:     0;
                bottom:   0;
                right:    0;
            }
            &.bg-lightgreen { 
                background-image: url('../img/lightgreen-square.svg');
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: cover;
            }
            &.bg-green { 
                background-image: url('../img/green-square.svg');
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: cover;
            }
            &.bg-darkgreen { 
                background-image: url('../img/darkgreen-square.svg');
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: cover;
            }
            margin: 0;
            border-radius: $card-border-radius $card-border-radius 0 0;
            overflow: hidden;
            // height: 160px;
            // min-height: 160px;
            position: relative;
            box-shadow: 6px 12px 20px rgba(0, 0, 0, .16);
            img { 
                // object-fit: cover;
                // object-position: center;
                // height: 100%;
                // width: 100%;
                // max-width: 100%;
                border-radius: $card-border-radius $card-border-radius 0 0;
                transition: $transition;
              
            }
            .product-cold { 
                opacity: 1;
                transition: $transition;
            }
            .product-hot { 
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                transition: $transition;
            }
            img { 
                width: 100%;
            }
            .btn-viewmore-hover { 
                opacity: 0;
                display: none;
            }
        }
        .blog-content {
            padding: calc(#{$space} * 1.5) $space;
            .topic { 
                font-size: 25px;
                font-weight: bold;
                line-height: 25px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $text-color;
                text-align: center;
            }
            .sub-topic { 
                font-size: 20px;
                font-family: $font-topic;
                font-weight: 300;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                color: #838383;
            }
        }
    }
    &.-blog {
        width: 100%;
        height: 100%;
        padding: $card-space;
        border: $card-border;
        border-radius: $card-border-radius;
        transition: $transition;
        
        .pic { 
            margin: calc(-1*#{$card-space}) calc(-1*#{$card-space}) #{$card-space};
            border-radius: $card-border-radius $card-border-radius 0 0;
            overflow: hidden;
            height: 175px;
            min-height: 175px;
            position: relative;
            img { 
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
                max-width: 100%;
                border-radius: $card-border-radius $card-border-radius 0 0;
            }
            &::before { 
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                opacity: 0;
                transition: $transition;
            }
            &::after { 
                content: url('../img/fusion-logo.svg');
                position: absolute;
                top: 50%; right: 50%;
                transform: translate(50%,-50%);
                width: 200px;
                opacity: 0;
                transition: $transition;
            }
        }
        .blog-content {
            .topic { 
                font-size: 25px;
                font-weight: bold;
                line-height: 30px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $text-color;
                margin-top: $space;
            }
        }
        .blog-link {
            margin-top: 30px;
            button { 
                padding: 0;
                border: 0;
                background-color: transparent;
                display: flex;
                align-items: center;
                transition: $transition;
                position: relative;
                &::before { 
                    position: absolute;
                    content: '';
                    background-color: $primary-2;
                    transition-duration: .3s;
                    top: 0;
                    right: auto;
                    bottom: auto;
                    left: 0;
                    width: 0;
                    height: 100%;
                    opacity: 1;
                    z-index: 0;
                }
                .icon { 
                    width: 30px;
                    height: 30px;
                    background-color: $primary-2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: relative;
                }
                .text { 
                    font-size: 25px;
                    font-weight: bold;
                    color: $primary-2;
                    position: relative;
                    padding: 0 calc(#{$space} / 2);
                }
            }
        }
    }
}

@media (min-width: $size-lg) { 
    /* ----- Card ----- */
    .card { 
        &.-hero {
            .pic { 
                height: 520px;
                min-height: 520px;
            }
            .blog-content {
                margin-top: -60px;
                margin-left: 45px;
                margin-right: 45px;
                padding: $space;
                .topic { 
                    -webkit-line-clamp: 2;
                    font-size: 35px;
                }
                .sub-topic { 
                    -webkit-line-clamp: 1;
                }
            }
        }
        &.-lg {
            .pic { 
                // height: 326px;
                // min-height: 326px;
                img, object, picture { 
                    top:      30px;
                }
                .btn-viewmore-hover { 
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;
                    background-color: $primary-1;
                    opacity: 0;
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-self: center;
                    flex-direction: column;
                    color: white;
                    padding-top: 5px;
                    box-shadow: $box-shadow;
                    transition: $transition;
                    i { 
                        font-size: 30px;
                    }
                    span { 
                        font-size: 20px;
                        line-height: 0.5;
                    }
                }
            }
            .blog-content {
                .topic { 
                    font-size: 30px;
                }
            }
            &:hover { 
                .btn-viewmore-hover { 
                    top: 50%;
                    opacity: 1;
                }
                .product-cold {
                    opacity: 0;
                }
                .product-hot { 
                    opacity: 1;
                }
            }
        }
        &.-blog {
            &:hover { 
                .pic { 
                    &::before { 
                        opacity: 1;
                    }
                    &::after { 
                        opacity: 1;
                    }
                }
                .blog-link {
                    button { 
                        &::before { 
                            width: 100%;
                        }
                        .text { 
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.category { 
    .category-item { 
        font-size: 25px;
        color: #ACACAC;
        margin-right: calc(#{$space} / 2);
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
.category-filter { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    .filter-label  {
        margin-bottom: 0;
        margin-right: $space;
        letter-spacing: 1px;
    }
    .filter-dropdown { 
        width: 100%;
        &.show { 
            .dropdown-toggle { 
                &::after { 
                    transform: scaleY(-1);
                }
            }
        }
        .dropdown-toggle { 
            border-radius: 0;
            border-bottom: 1px solid #BEBEBE;
            padding: 5px 0 5px 12px;
            min-width: 100%;
            display: block;
            color: $text-color;
            font-weight: 300;
            &::after { 
                border: 0;
                font-family: "bootstrap-icons";
                font-weight: 900;
                content: "\f282";
                color: $primary-2;
                font-size: 15px;
                margin-left: calc(8px);
                position: absolute;
                right: 0;
            }
        }
        .dropdown-menu { 
            border-radius: 0;
            border: none;
            box-shadow: $box-shadow-large;
            width: 100%;
        }
        .dropdown-item { 
            color: $text-color;
            font-weight: 300;
            min-width: 100%;
            padding: 8px 10px;
            font-size: 25px;
            &:focus, &:active { 
                background-color: $primary-2;
                color: white;
            }
        }
    }
}
@media (min-width: $size-lg) {
    .category-filter {
        flex-direction: row; 
        .filter-dropdown { 
            width: auto;
            .dropdown-toggle { 
                min-width: 313px;
            }
            .dropdown-item { 
                min-width: 313px;
            }
        }
    }
}
.hotta-dropdown { 
    &.show { 
        .dropdown-toggle { 
            &::after { 
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
            }
        }
    }
    &.-shop { 
        .dropdown-menu { 
            border-radius: 0;
            border: 0;
            min-width: 173px;
            margin: 0;
            box-shadow: $box-shadow-large;
            background-color: #F6F6F6;
        }
        .dropdown-item { 
            img { 
                width: 30px;
                margin-right: 6px;
            }
            padding: 6px 10px;
            text-align: left;
            color: $text-color;
            font-weight: bold;
            &:focus, &:active { 
                background-color: $primary-2;
                color: white;
            }
        }
    }
    .dropdown-toggle { 
        border-radius: 0;
        border: 1px solid $primary-2;
        padding: 5px $space-m;
        color: $primary-2;
        font-weight: bold;
        margin:0;
        &::after { 
            border: 0;
            font-family: "bootstrap-icons";
            font-weight: 900;
            content: "\f282";
            font-size: 10px;
            margin-left: calc(8px);
            transition: $transition;
        }
    }
    .dropdown-menu { 
        border-radius: 0;
        border: 1px solid $primary-2;
        min-width: 91px;
        margin: 0;
    }
    .dropdown-item { 
        color: $primary-2;
        font-weight: bold;
        text-align: center;
        &:focus, &:active { 
            background-color: $primary-2;
            color: white;
        }
    }
}

.social { 
    display: flex;
    align-items: center;
    justify-content: center;
    &.-icon-white { 
        .social-item { 
            filter: brightness(100);
        }
    }
    .social-item { 
        height: 28px;
        width: 28px;
        background-color: $primary-2;
        transition: $transition;
        padding: 5px;
        margin: 0 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover { 
            background-color: $primary-1;
        }
        img { 
            max-width: 100%;
            max-height: 100%;
        }
    }
}


/*----- Preloader Css -----*/
.preloader{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-loader { 
        max-width: 250px;
    }
}

/*----- Animate -----*/
// @media (min-width: $size-lg) {
//     @keyframes fadeInUp {
//         from {
//             transform: translate3d(0,40px,0)
//         }
//         to {
//             transform: translate3d(0,0,0);
//             opacity: 1
//         }
//     }
//     @-webkit-keyframes fadeInUp {
//         from {
//             transform: translate3d(0,40px,0)
//         }
//         to {
//             transform: translate3d(0,0,0);
//             opacity: 1
//         }
//     }
    
//     .animated {
//         animation-duration: 1s;
//         animation-fill-mode: both;
//         -webkit-animation-duration: 1s;
//         -webkit-animation-fill-mode: both
//     }
//     .animatedFadeInUp {
//         opacity: 0
//     }
//     .fadeInUp {
//         opacity: 0;
//         animation-name: fadeInUp;
//         -webkit-animation-name: fadeInUp;
//     }

//     .delay-1000ms { 
//         animation-delay: 1000ms;
//     }
//     .delay-1800ms { 
//         animation-delay: 1800ms;
//     }
//     .delay-2600ms { 
//         animation-delay: 2600ms;
//     }
// }


/* ----- Triangle -----*/
.triangle-down{
    position: absolute;
    bottom: -72px;
    box-sizing: content-box;
    width: 50%; 
    height: 0;
    padding-left:50%;
    padding-top: 72px;
    overflow: hidden;
}
.triangle-down div {
    width: 0;
    height: 0;
    margin-left:-1000px; 
    margin-top:-100px; 
    border-left: 1000px solid transparent; 
    border-right: 1000px solid transparent; 
    border-top: 100px solid #fff; 
}

/* ------------ Sticky Menu ------------*/
.sticky-menu { 
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    z-index: 10; 
    width: 60px;
    transform: skewY(12deg);
    .btn-toggle{ 
        height: 40px; 
        width: 100%;
        border: 1px solid #E0E0E0;
        background-color: #E4E4E4;
        color: $grey;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        div { 
            transform: skewY(-12deg);
        }
        i { 
            font-size: 14px;
        }
    }
    .sticky-menu--item { 
        overflow: hidden;

        height: 100px; 
        width: 100%; 
        background-color: white;
        border: 1px solid #E0E0E0;
        display: flex; 
        align-items: center;
        justify-content: center;
        transition: $transition;
        .inner { 
            transform: skewY(-12deg);
            display: flex; 
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 18px;
            font-weight: bold;
            word-break: break-all;
            line-height: 14px;
            text-align: center;
        }
        img { 
            height: auto;
            width: 100%;
            max-height: 30px;
            max-width: 25px;
            margin-bottom: 8px;
        }
        &:hover { 
            background-color: $primary-2;
            .inner { 
                color: white;
            }
            img { 
                filter: brightness(100);
            }
        }
    }
    .btn-gotop { 
        height: 50px;
        width: 100%; 
        border: 1px solid #E0E0E0;
        background-color: $primary-1;
        i { 
            color: white;
            font-size: 25px;
            transform: skewY(-12deg); 
            display: block;
        }
    }
    &.-hide {
        .sticky-menu--container { 
            .sticky-menu--item { 
                height: 0;
            }
        }
    }
}


/* ------------ Accordian ------------*/

.accordion { 
    .accordion-item { 
        margin-bottom: $space;
    }
    .accordion-toggle { 
        min-height: 100px;
        display: flex;
        flex-direction: row; 
        background-color: white;
        cursor: pointer;
        .icon { 
            background-color: $primary-1;
            color: white;
            width: 50px;
            display: flex;
            align-items: center;
            .bi { 
                font-size: 50px;
            }
        }
        .title { 
            font-family: $font-topic;
            font-size: 25px;
            font-weight: bold;
            margin: 0;
            display: flex;
            align-items: center;
            padding: $space;
            padding-right: 65px;
            &::after { 
                font-family: "bootstrap-icons";
                font-weight: 900;
                content: "\f286";
                position: absolute;
                right: 35px;
                font-size: 25px;
                color: $primary-1;
                transition: $transition;
            }
        }
        &.collapsed  {
            .title { 
                &::after { 
                    transform: scaleY(-1);
                }
            }
        }
    }
    .accordion-body { 
        padding: $space $space-m;
        font-size: 25px;
        line-height: 30px;
        color: #838383;
    }
}


@media (min-width: $size-lg) {
    .accordion { 
        .accordion-toggle { 
            position: relative;
            .title { 
                padding-right: 85px;
                &::after { 
                    right: 20px;
                }
            }
            &:hover { 
                &::before { 
                    background-color: $primary-1;
                }
                .title { 
                    &::after { 
                        color: white;
                    }
                }
            }
            &::before { 
                content: "";
                background-color: white;
                position: absolute;
                right: 0;
                height: 100%;
                width: 65px;
                transition: $transition;
            }
        }
    }
}
